<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link th:href="@{/css/login.css}" rel="stylesheet" />
        <title>Login Sosmed</title>
    </head>
    <body>

    <h1>Login</h1>
	<div class="kotak_login">       
            <p class="tulisan_login"></p>

        <div class="alert alert-danger" th:if="${error}">
                <span th:text="${error}"></span>
        </div>
        <div class="alert alert-success" th:if="${success}">
                <span th:text="${success}"></span>
        </div>

		<form method="POST" action="#" th:action="@{/login}" th:object="${user}">
			<label>Email</label>
			    <input th:field="*{email}" type="email" class="form_login" id="example-todo-title" aria-describedby="emailHelp" placeholder="Enter email" required>

			<label>Password</label>
                <input th:field="*{password}" type="password" class="form_login" id="example-todo-title" aria-describedby="emailHelp" placeholder="Enter password" required>

            <button type="login" class="tombol_login">Login</button>

            
			<center>
                            <a th:href="@{/register}">Do not have account?</a>
			</center>
		</form>

	</div>

        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>