<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/css/index.css}" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Homepage</title>
    </head>

    <body>  

        <div>
            <div class="form-thread">
                <div class="thread" th:object="${thread}">
                    <h2> <span th:text="*{title}"></span> </h2>
                    <p> <span th:text="*{content}"></span> </p>
                    <h2> <span  th:text="*{user.name}"></span> </h2>
                    <p> <span th:text="*{category.name}"></span> </p>
                    <div th:each="comment : ${comment}">
                        <p> <span th:if="(${comment.thread.id} == *{id})" th:text="${comment.user.name}"></span></p>
                        <p> <span th:if="(${comment.thread.id} == *{id})"th:text="${comment.content}"></span></p>
                    </div>
                </div>
                <div th:object="${thread}">
                    <div class="btn-ud" role="group " aria-lsabel="Basic example ">
                        <div>
                            <a th:if="(${session.id} == *{user.id} )" th:href="@{/thread/{id}/edit(id=*{ id })}"  class="btn btn-info text-white">
                                EDIT
                            </a>
                            <form th:if="(${session.id} == *{user.id} )" onSubmit="return confirm('Do you really want to delete?')" method="POST" action="#" th:action="@{/thread/{id}/delete(id=*{ id })}">
                                <button type="submit" class="btn btn-danger text-white ">DEL</button>
                            </form>       
                        </div>
                        <a th:href="@{/thread/{id}/comment(id=*{ id })}"  class="btn btn-info text-white ">
                            COMEN
                        </a>
                    </div>
                </div>   
            </div>
        </div>       
        
    </body>  

</html>
