<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link th:href="@{css/main.css}" rel="stylesheet" />
        <link th:href="@{/css/cssproject.css}" rel="stylesheet" />
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <title>Sosmed</title>
    </head>
    <body>

        <header th:fragment="navbar">
      <div class="container">
        <h1 class="logo"></h1>
  
        <nav>
          <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>

          </ul>
        </nav>
      </div>
        </header>


        <footer th:fragment="footer" class="footer ">
            <div class="container">
        <div class="row">
         

          

          <div class="col-xs-6 col-md-3">
            
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved to Group 4
            </p>
          </div>

          
        </div>
      </div>
        </footer>


        <div th:fragment="scripts">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>

